/* Definições Gerais */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #f4f4f9;
    color: #333;
}

/* Cabeçalho */
header {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header h1 {
    font-size: 2.5rem;
    margin: 0;
}

/* Menu de navegação */
nav {
    background-color: #333;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    position: relative;
}

nav ul li a {
    display: block;
    padding: 14px 20px;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #4CAF50;
}

nav ul li ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #333;
    padding: 0;
}

nav ul li:hover ul {
    display: block;
}

nav ul li ul li {
    float: none;
}

nav ul li ul li a {
    padding: 10px 20px;
}

/* Seções */
section {
    padding: 50px 20px;
    max-width: 1100px;
    margin: 0 auto;
}

.memoria {
    margin-bottom: 60px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.memoria:hover {
    transform: scale(1.02);
}

.memoria h2 {
    color: #4CAF50;
    font-size: 1.8rem;
    margin-bottom: 10px;
    border-bottom: 2px solid #4CAF50;
    padding-bottom: 5px;
}

.memoria img {
    max-width: 100%;
    height: auto;
    margin: 10px 0;
    border-radius: 5px;
}

.imagem-dinamica {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.imagem-dinamica:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Rodapé */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
}

footer p {
    margin: 0;
}

/* Responsividade */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
    }

    .memoria {
        padding: 15px;
    }

    header h1 {
        font-size: 2rem;
    }

    .memoria h2 {
        font-size: 1.5rem;
    }
}
